<h1><%= @task.name %><%= @list.name %></h1>
<br>
<%= form_for [@task, @list] do |f| %>
<%= f.label :name %>
<%= f.text_field :name, required: true, autofocus: true %>
<br>
<%= f.label :note %>
<%= f.text_field :note, required: true %>
<%= f.submit %>
<% end %>
