<h1>Make a new task.</h1>
<br>
<%= form_for [@board, @task] do |f| %>
<%= f.label :name %>
<h2>division responsible:  <%= f.select :dept, ['corporate', 'IT', 'human resource', 'public relation'] %></h2>
<%= f.text_field :name, required: true, autofocus: true %>
<%= f.submit %>
<% end %>
