<h1><%= @board.name %> - <%= @task.name %></h1>

<%= link_to 'edit task', edit_board_task_path([@board, @task]) %>
<%= link_to 'Delete task', [@board, @task], method: :delete %>
<%= link_to 'back to tasks', board_tasks_path(@board) %>
<br>
<%= link_to 'add a list item', new_task_list_path(@task) %>
