<h1><%= @board.id ? 'edit board' : 'create board' %></h1>
<%= form_with(model: @board, local: true, class: "ui form") do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, required: true, placeholder: "board name" %>
</div>
<%= f.submit %>
